.review-analysis {
    display: flex;
    max-height: 100vh;
    background-color: #f9f9f9;
}

.review-content {
    flex: 1;
    display: flex;
    gap: 20px;
    padding: 16px;
    box-sizing: border-box;
    max-height: 100vh;
}

.file-viewer-container,
.json-editor-container {
    flex: 1;
    box-sizing: border-box;
    background-color: #ffffff;
    padding: 16px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-height: 100vh;
}

.scrollable-content {
    overflow-y: auto;
    max-height: calc(0.7*100vh);
}


.button-container {
    text-align: center;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 70px;

}

.button-container button {
    display: block;
    padding: 10px 16px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.approve-button {
    background-color: #d4edda;
    color: black;
}
.approve-button:hover {
    background-color: #c3e6cb;
    transform: translateY(-2px);
}
.approve-button:active {
    background-color: #b1dfbb;
    transform: translateY(0);
}


.cancel-button {
    background-color: #cccccc;
    color: black;
}
.cancel-button:hover {
    background-color: #bfbfbf;
    transform: translateY(-2px);
}
.cancel-button:active {
    background-color: #b3b3b3;
    transform: translateY(0);
}